# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, imagemagick

                                   # LICENSE  Python3
                                   
django>=1.11                       # MIT      y
django-filter
django-redis                       # BSD      y
django-redis-cache
django-redis-sessions
gunicorn                           # MIT      y
redis                              # MIT      y
requests
