<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="Head1">
    <title>Facility Detail</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css" />
  </head>
  <body id="Body1" class="pageBackground">
      
      
      <span id="PageSettings"></span>
	  
	  
	  
	  <link rel="stylesheet" type="text/css" href="../Styles/archive.css">
      
      <table width="758" border="0" cellspacing="0" cellpadding="0" id="bodyContent" name="bodyContent">

	    <tr valign="top">
	
		  <td width="758" colspan="3" id="bodyTitlebar">
			<img src="../Images/titlebar.gif" width="758" height="17" alt="" border="0" />
		  </td>
          
	    </tr>
	    
	    <tr valign="top">
	
		  <td width="10" id="bodyLeftGutter" rowspan="2">
		    &nbsp;
		  </td>
          
		  <td width="738" id="bodyMain" class="bodyText">
		    <br />
		    <strong class="pageHeader">{{ object.title }}</strong>
		    
		    <p>
		      <strong>Type:</strong> {{ object.type }}
		      <br />
              {% for location in object.location_geopoint %}
		      <strong>Location:</strong> {{ location.label }}
              {% endfor %}
		    </p>
            
          </td>
	      <td width="10" id="bodyRightGutter">
		    &nbsp;
	      </td>
        </tr>
        
        <tr>
	      <td colspan="2">


	      </td>
        </tr>
        
        
      </table>
      
      
      
      
      
      <script language="javascript">
        <!--
	        Fev_FocusOnFirstFocusableFormElement();
            // -->
      </script>
      
  </body>
</html>
