<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="Head1">
    <title>Search</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css" />
	<link rel="stylesheet" type="text/css" href="../Styles/archive.css">
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/archiveList.css" /><script type="text/javascript" src="../Scripts/archiveSearch.js"></script></head>
  <body id="Body1" class="pageBackground">
	<form name="Form1" method="post" action="" id="Form1">
      {% csrf_token %}
      
	  <input name="fulltext" type="text" />
      
      
      <span id="PageSettings" LoginRequired="1;2"></span>
      
      
      
      
      
      <div id="searchMessage" style="visibility:hidden;z-index:2;"></div>
      <table width="800" border="0" cellspacing="0" cellpadding="0" id="bodyContent" name="bodyContent">

	    <tr valign="top">
	
		  <td width="800" colspan="3" id="bodyTitlebar">
			<img src="../Images/titlebar.gif" width="758" height="17" alt="" border="0" />
			<br />
		  </td>
          
	    </tr>
	    
	    <tr valign="top">
	
		  <td width="10" id="bodyLeftGutter">
		    &nbsp;
		  </td>
          
		  <td width="720" id="bodyMain" class="bodyText">
			<br />
			<p>
			  <strong class="pageHeader">Search</strong>
			</p>
            
		    <p>Find people, topics and places in interview segments, photographs, documents and newspapers. You can also enter the Densho ID of an archive item from an article or lesson you saw on the public website.</p>
            <input type="text" id="searchBox" /> <input type="submit" id="searchButton" value="Go!" /> <a id="helpToggle" href="#help_toggle" onclick="javascript:toggleSearchHelp();return false;" class="smallMessage">Show help</a>
            
            <br />
            <br />
            <div id="searchResults"></div>
            
            <div id="searchHelp" style="display:none;">
              <h2>Help With Search</h2>
              
              <h3>Search Tips</h3>
              <ul>
                <li>To do a simple search, you can just type a few keywords in the box; but you will only get back items that match <strong>all</strong> of the words you have entered. If you would like to do a more complicated search, see the "Advanced Searching" section below.</li>
                <li>Searching is not case-sensitive so you do not need to capitalize terms. The order of the keywords doesn't matter either.</li>
                <li>The current search system only looks for matches with individual video segments, photos, documents and newspapers. For now, it does not search collection descriptions, narrator biographies or the full text of interview transcripts.</li>
                <li>The list of items in the search results is not ranked. However, you can sort or use the filters to narrow and refine your results.</li>
                <li>Enter the Densho ID (e.g., <TT>denshopd-i151-00046</TT>) of a primary source item from the public website to find the original archive object.</li>
              </ul>
              
              <h3>Advanced Searching</h3>
              <p>You can perform more
                sophisticated searches by using boolean operators (AND, OR, NOT, NEAR), grouping
                words/phrases using parentheses or quotes, and using the wild card character
                &quot;*&quot;. 
                Here are some example searches:</p>
              <blockquote>
                <dl>
                  <dt><strong><tt>farm bellevue</tt></strong>
                    <dd>finds items containing both 'farm' and 'bellevue'<br>
                      <dt><strong><tt>farm and bellevue</tt></strong>
                        <dd>same as above<br>
                          <dt><strong><tt>farm or bellevue</tt></strong>
                            <dd>finds items containing 'farm' or 'bellevue'<br>
                              <dt><strong><tt>"tom matsuoka"</tt></strong>
                                <dd>finds items containing the exact phrase "tom matsuoka" --
                                  this would not match a document with the phrase 'tom j. matsuoka', for example<br>
                                  <dt><strong><tt>farm not bellevue</tt></strong>
                                    <dd>finds items containing 'farm' but not 'bellevue'<br>
                                      <dt><strong><tt>(farm not bellevue) and matsuoka</tt></strong>
                                        <dd>finds items containing 'matsuoka', plus 'farm' but not 'bellevue'
                                          <br>
                                          <dt><strong><tt>matsu*</tt></strong>
                                            <dd>finds items containing words starting with 'matsu' -- such as 'matsumoto' and 'matsuoka'. The wildcard only
                                              works at the end of a word or phrase, for example, <tt>matsu*</tt> or <tt>matsuo*</tt>, but not <tt>matsu*ka</tt><br>
                                            </dd>
                </dl>
              </blockquote>
            </div>
            
            <!--include virtual="/__private/include/copyrightFooterInclude.asp"-->
            
		  </td>
          
		  <td id="bodyRightGutter">	
		    &nbsp;
		  </td>
          
	    </tr>
        
      </table>	
      
      <script language="javascript">
        <!--
	        Fev_FocusOnFirstFocusableFormElement();
            // -->
      </script>
      
    </form>
    
    
  </body>
</html>
